.site-info {
  width: 250px;
}
.site-asset-info {
  width: 130px;
}
.site-location {
  height: 43px;
  border-radius: 22px;
}
.custom-pin {
  margin-right: -10px;
  position: relative;
  z-index: 1;
}