.add-emp-btn {
  width: 142px;
  height: 142px;
  background: #F81521;
  border-radius: 500px;
}
.emp-h {
  height: 85%;
  background-image: url('../../../../assets/addEmployeeBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
 }
