.dragdrop {
  background-color: white;
  width: 800px;
  min-height: 300px;
  border: 1px dotted #F81521;
}
.bg-theme-secondary {
  background-color: rgba(75, 70, 92, 0.08);
}
.DYXVr {
  background-color: white;
  max-width: 800px !important;
  min-width: 800px !important;
  height: 300px;
  min-height: 300px;
  border: 1px dotted #F81521 !important;
}
.custom-del {
  position: relative;
  margin-top: -35px;
  margin-right: 6px;
}