.alert-danger {
  background-color: #fedadb;
  border: none;
  color: #F81521;
}
.alert-warning {
  background-color: #fff0e1;
  border: none;
  color: #FF9F43;
}
.alert-low {
  background-color: #e2e2e2;
  border: none;
  color: #242424;
}
