.filter-container {
  max-width: 880px;
  width: 100%;
}
#dropdown-basic-button {
  font-size: 14px;
  color: #666666;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}
.br-1 {
  border-right: 1px solid #B9B4B4;
}
.btn.show,
.btn:active {
  border: none !important;
}
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}
input:focus{
  outline: none;
}
