.custom-mapbox {
  width: 100%;
  height: 80%;
}

.map-search {
  margin-bottom: -6%;
  width: 100%;
  position: relative;
  z-index: 1;
}
.switcher {
  width: 370px;
}
.br-1 {
  border-right: 1px solid #D7D7D7 !important;
}