.device-bg {
  background-color: #F2F2F2;
}
.img-device-bg {
  height: 70px;
  width: 70px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h-165 {
  height: 165px;
}
